h1 {
	font-family: 'Varela Round', sans-serif;
}

#player1, #player2, #finish1, #finish2 {
	position: absolute;
    left: 10px;
    width: 90px;
    height: 90px;
    margin: 5px;
}

#player1 {
    left: 10px;
}

#player2 {
	left: 10px;
	top: 250px;
}

#finish1 {
    left: 1000px;
}

#finish2 {
	left: 1000px;
	top: 250px;
}

button {
	font-family: 'Varela Round', sans-serif;
	text-decoration: bold;
	margin-top: 550px;
	margin-left: 25px;
	border-radius: 25px;
	background-color: #7fc9ff;
}